/* Variabler*/
$bg-color: #ffffff;
$primary-color: #efeae1;
$secondary-color: #d47b28;
$text-color: #37476c;
$header-font: "hobeaux", sans-serif;
$font: "roboto", sans-serif;

/*Mixins*/

@mixin btn{
    background-color: $secondary-color;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    text-align: center;
    padding: 13.5px 111px;
    color: black;
    font-family: $font;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}


@mixin website-box{
    width: 409px;
    height: 896px;
    background-color: $primary-color;
}



/*Mobil*/

@mixin mobil-btn{
    background-color: $secondary-color;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    text-align: center;
    width: 250px;
    height: 50px;
}