/*generel styling til Header og Footer */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    font-family: "roboto", sans-serif;
    color: #37476C;
}

h5{
    font-family: "roboto", sans-serif;
    font-size: 18px;
    color: #37476C;
    line-height: 30px;
}

/* Baggrundsbillede */

.BGbillede{
    background-image: url("../img/BGforside.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
}

/*Header*/

.headerlogo{
    width: 330px;
}

.kontaktikon{
    width: 39.17px;
    margin-bottom: 6px;
    margin-right: 5px;
}

.kontaktikon:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.sog{
    width: 30.4px;
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}

.sogefelt{
    border: 1px solid #37476C;
    border-radius: 50px;
    width: 250px;
    height: 40px;
    display: inline-block;
    align-items: center;
    background-color: white;
}

.header1{
    padding: 25px 25px 0px 25px ;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 li{
    display: inline;
}

/*Drop-down*/

.header2{
    position: fixed;
    left: 95.5%;
}

.menu{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-family: hobeaux, sans-serif;
    font-size: 60px;
    color: #D47B28;
    font-weight: 700;
}

.menu:hover{
    -webkit-text-stroke: 2px #37476C;
}

.dropdown{
    list-style-type: none;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 2px solid #D47B28;
    border-radius: 5px;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    color: #37476C;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    right: 95%;
    top: 2%;
    list-style: none;
}

.dropdown-menu li {
    margin-bottom: 10px;
}

.dropdown-menu a{
    text-decoration: none;
    color: #37476C;
}

.dropdown-menu a:hover{
    background-color: rgba(212, 123, 40, 0.1);
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

/*Footer*/
.seperator{
    border: black solid 1 px;
}

/*justering af ikon størrelser*/
.someikon{
    height: 40px;
    width: 40px;
}

.telefonikon{
    height: 16px;
    width: 16px;
}

.mailikon{
    height: 12px;
    width: 18px;
}

.sogikon{
    height: 18px;
    width: 18px;
}

.linje{
    border: 0.5px solid #37476C;
    margin-bottom: 40px;
}

/*grid til inddeling af 3 kolloner*/

.footergrid{
    display: grid;
    grid-template-columns: 100px 180px 1fr 200px 100px;
    width: 100%;
    height: 420px;
    background-color: #EFEAE1;
}


/*Navigation*/
.footernav {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    justify-content: space-between;
}

footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: #37476C;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    line-height: 30px;
}

footer a:hover{
    font-weight: 600;
    cursor: pointer;
}

.sogikon{
    float: right;
}


/*Logo*/

.footerlogo {
    width: 215px;
}

.footerlogoplacering{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Nyhedsbrev*/
.footerform {
    display: flex;
    flex-direction: column;
    grid-column: 4/5;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

footer input[type=submit]{
    background-color: #D47B28;
    width: 116px;
    height: 32px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: black;
    font-weight: bolder;
    font-family: "roboto", sans-serif;
}

footer input[type=submit]:hover{
    background-color: #EFEAE1;
    border: 3px solid #D47B28;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

footer input[type=email]{
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius:5px;
    height: 40px;
    width: 200px;
    font-family: "roboto", sans-serif;
    padding-left: 5px;
}

/*SoMe ikoner*/

.someplacering {
    display: flex;
    gap: 8px;
}

/*kontakt ikon*/
.telefonikon{
   float: right;
}

/*copyright*/
.copy{
    background-color: #EFEAE1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}