/*********--Tablet--*********/

@media screen and (max-width: 900px){

/*Globale variabler*/

h1, h2{
    font-size: 45px;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 20px;
}

p{
    font-size: 20px;
}

/*globalt*/

.header2{
    position: fixed;
    left: 93%;
}

.menu{
    font-size: 40px;
}

.brodkromme{
    font-size: 22px;
    right: 10%;
    top: 100%;
 }

.hero-container{
    padding: 4em 3em 6em 3em;
}

.hero-tekst h1{
    padding-bottom: 1em;
}

.hero-tekst .knap{
    font-size: 18px;
    padding: 13.5px 4em;
}

.knap{
    font-size: 18px;
    padding: 13.5px 4em;
}

.hero-gap-til-knap{
    padding-bottom: 3em;
}

.chevron-container{
    display: none;
}

.footergrid{
    grid-template-columns: 50px 180px 1fr 200px 50px;
}

    /********--Branding Proces--******/


.BGbranding{
    background-image: url(../img/BG-road-tablet.png);
    background-size: contain;
    width: 100%;
}

.brandingroad{
    background-image: url(../img/Road.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0px 22em;
    width: 100%;
}

.branding-container-venstre, .branding-container-hojre{
    margin-bottom: 5em;
}

.branding-container-venstre section{
    padding: 0 2em 0 4em ;
}

.branding-container-hojre section{
    padding: 0 4em 0 3em ;
}

 }


/********--Mobil--********/



@media screen and (max-width: 450px){

/*Globale varianter*/

    h1, h2{
        font-size: 38px;
    }

    h3{
        font-size: 30px;
    }

    h4{
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }


/*globalt*/

.header2{
    position: fixed;
    left: 64%;
}

.menu{
    font-size: 25px;
}

.brodkromme{
    font-size: 18px;
    right: 1%;
    top: 100%;
 }

.kontaktikon, .sog, .sogefelt{
    display: none;
}

.hero-container{
    padding: 4em 3em 4em 3em;
    flex-direction: column;
}

.hero-img{
    justify-content: center;
    width: 120%;
    margin: 4em 1em;
}



/*******---Branding proces--*******/

.BGbranding{
    background-image: url('../img/Road-mobil.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}

.branding-container-venstre{
    display: flex;
    flex-direction: column;
}

.branding-container-venstre section{
    border-radius: 0 50px 0 0;
    border-left: none;
    padding: 2em 2em 2em 3em;
}

.branding-container-hojre{
    display: flex;
    flex-direction: column;
}

.branding-container-hojre section{
    border-right: none;
    border-radius: 50px 0 0 0;
    padding: 2em 3em 2em 2em;
}

.branding-img-bokse-venstre img{
    border-radius: 0 0 45px 0;
}

.branding-img-bokse-hojre img{
    border-radius: 0 0 0 45px;
}



}