/*********--Tablet--*********/

@media screen and (max-width: 900px){

/*Globale variabler*/

h1, h2{
    font-size: 45px;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 20px;
}

p{
    font-size: 20px;
}

/*globalt*/

.hero-container{
    padding: 4em 3em 6em 3em;
}

.hero-tekst h1{
    padding-bottom: 1em;
}

.hero-tekst .knap{
    font-size: 18px;
    padding: 13.5px 4em;
}

.knap{
    font-size: 18px;
    padding: 13.5px 4em;
}

.hero-gap-til-knap{
    padding-bottom: 3em;
}

.chevron-container{
    display: none;
}

.footergrid{
    grid-template-columns: 50px 180px 1fr 200px 50px;
}

    /********--Branding Proces--******/

.BGbranding{
    background-image: url(../img/BGtop.png);
    background-size: contain;
}

.brandingroad{
    background-image: url(../img/Road.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0px 22em;
    width: 100%;
}

.branding-container-venstre, .branding-container-hojre{
    margin-bottom: 5em;
}

.branding-container-venstre section{
    padding: 0 2em 0 4em ;
}

.branding-container-hojre section{
    padding: 0 4em 0 3em ;
}

 }


/********--Mobil--********/



@media screen and (max-width: 450px){

    h1, h2{
        font-size: 38px;
    }

    h3{
        font-size: 30px;
    }

    h4{
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }
}