@media screen and (max-width: 900px){

/*Globale variabler*/

h1, h2{
    font-size: 45px;
    padding-bottom: 10px;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 20px;
}

p{
    font-size: 20px;
}

/*globalt*/

.hero-container{
    padding: 4em 3em 0 3em;
}



    /********--Branding Proces--******/

.BGbranding{
    background-size: contain;
    
}

.branding-container-venstre section{
    padding: 0 2em 0 4em ;
}

.branding-container-hojre section{
    padding: 0 4em 0 3em ;
}

 }

@media screen and (max-width: 450px){

    h1, h2{
        font-size: 38px;
    }

    h3{
        font-size: 30px;
    }

    h4{
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }
}