@charset "UTF-8";
/* Variabler*/
/*Mixins*/
/*Mobil*/
/*Generel styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: "hobeaux", sans-serif;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  color: #37476c;
  letter-spacing: 5%;
  padding-bottom: 20px;
}

h3 {
  font-family: "hobeaux", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #37476c;
  letter-spacing: 5%;
  font-weight: 400;
  padding-bottom: 20px;
}

h4 {
  font-family: "roboto", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: #37476c;
  letter-spacing: 5%;
}

p {
  font-family: "roboto", sans-serif;
  font-size: 22px;
  color: #37476c;
  letter-spacing: 5%;
  padding-bottom: 15px;
}

/*Styling af Branding proces*/
/*Branding - hero område */
.hero-container {
  display: flex;
  width: 100%;
  padding: 150px 100px 0 100px;
}

.hero-tekst h1 {
  padding-bottom: 80px;
}

.hero-img {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 200px;
}

.brandingimgtop {
  width: 150%;
  margin: 0;
}

.hero-img img {
  max-width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-gap-til-knap {
  padding-bottom: 80px;
}

.hero-tekst a {
  background-color: #d47b28;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-align: center;
  padding: 13.5px 111px;
  color: black;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Chevron */
.chevron-container {
  text-align: center;
}

.chevron {
  padding: 100px;
}

/* Branding hovedområde */
.BGbillede-branding {
  background-image: url("../img/Brandingbaggrund.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}

.brodkrommebrand {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 36px;
  position: absolute;
  height: 360px;
  right: 10%;
  top: 100%;
}

.branding-container-venstre {
  display: grid;
  width: 75%;
  grid-template-columns: 63% 37%;
  grid-template-rows: 463px;
  border: 5px solid rgba(55, 71, 108, 0.6);
  border-radius: 0 50px 50px 0;
  border-left: none;
  margin-bottom: 145px;
}

.branding-container-hojre {
  display: grid;
  width: 75%;
  grid-template-columns: 37% 63%;
  grid-template-rows: 463px;
  justify-content: end;
  margin-left: auto;
  border: 5px solid rgba(55, 71, 108, 0.6);
  border-right: none;
  border-radius: 50px 0 0 50px;
  margin-bottom: 145px;
}

.branding-tekst-bokse-venstre {
  grid-area: 1/1/2 2;
  background-color: rgba(239, 234, 225, 0.6);
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.branding-tekst-bokse-hojre {
  grid-area: 1/2/2/3;
  background-color: rgba(239, 234, 225, 0.6);
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.branding-img-bokse-venstre {
  grid-area: 1/2/2/3;
  display: flex;
  align-content: center;
}

.branding-img-bokse-hojre {
  grid-area: 1/1/2/2;
  display: flex;
  align-content: center;
}

.branding-kasseimg-venstre {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 0 45px 45px 0;
}

.branding-kasseimg-hojre {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 45px 0 0 45px;
}

/*Road to succes*/
.roadtosucces {
  text-align: center;
}

/*pil op*/
.pilop {
  display: flex;
  justify-content: right;
  padding: 100px 20px 20px 0;
}

.pilopimg {
  width: 35px;
}

/*Kontaktknap*/
.knap-container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.kontakt {
  background-color: #d47b28;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-align: center;
  padding: 13.5px 111px;
  color: black;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Styling af Ydelser */
.BGbillede-ydelser {
  background-image: url("../img/TopBG.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}

.brodkromme {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 36px;
  position: absolute;
  height: 160px;
  right: 10%;
  top: 100%;
}

/*Hovedindhold*/
.stark-container {
  display: flex;
  margin: auto 100px;
  gap: 100px;
}

.overoverskrift {
  font-weight: 100;
  padding-bottom: 10px;
}

/*Visuelle pakker*/
.vispakker-container {
  display: flex;
  margin-top: 135px;
  margin-bottom: 200px;
  height: 921px;
}

.vis-et {
  background-color: #efeae1;
  width: 50%;
  padding: 70px 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.vis-to {
  border: 7px solid #efeae1;
  border-right: none;
  width: 50%;
  padding: 70px 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.h2vispakker {
  padding: 0;
}

.vis-et li, .vis-to li {
  font-size: 40px;
  padding: 5px 0;
}

.p-opacity-pakker {
  opacity: 50%;
  letter-spacing: 5%;
  padding-bottom: 30px;
}

.kontakt-visuel-container {
  position: absolute;
  bottom: 0;
  padding-bottom: 70px;
}

.pvispris {
  padding-bottom: 25px;
}

.kontaktvisuel {
  border: 1px solid black;
  padding: 7px 20px;
  border-radius: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
}

/* Tekst til hjemmeside */
.hjemmesidetekst {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 200px 150px 200px;
}

/*Hjemmesidekasser*/
.orangebaggrundydelser {
  background-color: #d47b28;
  width: 100%;
  height: 62.2vh;
  position: absolute;
  z-index: 1;
}

.hjemmesidekasse-container {
  display: flex;
  justify-content: space-around;
  gap: 1%;
  padding: 0 1%;
  position: relative;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 160px;
}

.hjemmesidekasse {
  background-color: #efeae1;
  height: 900px;
  padding: 6%;
}

.centrerhjemmeside {
  text-align: center;
}

.linjeydelser {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  height: 9px;
  border-radius: 50px;
  width: 100%;
  margin: 50px 0;
}

/*Seperatorlinje*/
.seperatorbeige {
  background-color: #efeae1;
  height: 7px;
  border: none;
}

/*Den specifikke*/
.specifikke {
  display: flex;
  justify-content: space-around;
  padding: 80px 100px;
}

.specifiktekst {
  padding-right: 50px;
}

.specafstand {
  padding-bottom: 50px;
}

/*Styling af Storytelling*/
.BGbillede-storytelling {
  background-image: url("../img/TopBG.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}

/* Story tekst billede */
.wooddesignoverskrift {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 20px;
}

.storytekstbillede {
  display: flex;
  width: 100%;
  margin-bottom: 70px;
}

.storytekst {
  padding: 50px 100px;
}

.beigekasse {
  background-color: #efeae1;
  width: 70%;
  position: relative;
  right: 0;
}

.beigeborder {
  border: 7px solid #efeae1;
  border-right: none;
  border-left: none;
}

.nysgerrigstory {
  text-align: center;
}

/*Styling af Kontakt siden*/
.BGtop {
  background-image: url("../img/BGtop.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
}

.kontakt-hero-container {
  display: flex;
  width: 100%;
  padding: 150px 100px 0 100px;
}

.kontakt-hero-tekst h1 {
  padding-top: 50px;
  padding-bottom: 80px;
}

.kontakt-hero-tekst a {
  text-decoration: none;
  color: #37476c;
}

.kontakt-hero-img {
  width: 100%;
  display: flex;
  justify-content: right;
}

.kontakt-hero-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.chatfunktion {
  padding: 20px;
  position: fixed;
  top: 90%;
  left: 93%;
}

.kontaktform {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 150px 0 0 100px;
}

.kontaktinformation {
  width: 45%;
  padding-top: 100px;
}
.kontaktinformation h1 {
  padding-bottom: 80px;
}

/*kontaktformular*/
.kontaktformular {
  height: 875px;
  width: 630px;
  background-color: #efeae1;
  border-radius: 20px 0 0 20px;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #37476c;
  letter-spacing: 5%;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 80px;
}

main input[type=navn], input[type=email], input[type=tel], select, textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #d47b28;
  border-radius: 4px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

main input[type=text], select, textarea {
  width: 100%;
  padding: 8em;
  border: 1px solid #d47b28;
  border-radius: 4px;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

main input[type=submit] {
  background-color: #d47b28;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-align: center;
  padding: 13.5px 111px;
  color: black;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-left: 100px;
}
main input[type=submit]:hover {
  background-color: #efeae1;
  border: 3px solid #d47b28;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.bunden {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.pilop {
  width: 35px;
}

/*Styling af FAQ siden*/
/* dropdown menu */
.dropdown-box {
  width: 750px;
  height: 60px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 100px;
}
.dropdown-box p {
  color: black;
  font-weight: 600;
}
.dropdown-box img {
  width: 20px;
  height: 10px;
}

.faq-dropdown {
  list-style-type: none;
}

.faq-dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  position: absolute;
  background-color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
  font-size: 20px;
  color: #37476C;
  padding: 10px;
  white-space: nowrap;
  cursor: pointer;
  list-style: none;
}

.faq-dropdown-menu li {
  margin-bottom: 10px;
}

.faq-dropdown-menu a {
  text-decoration: none;
  color: #37476C;
}

.faq-dropdown-menu a:hover {
  background-color: rgba(212, 123, 40, 0.212);
}

.faq-dropdown:hover .faq-dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.faq-box1 {
  height: 475px;
  background-color: #ffffff;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
}

.faq-box2 {
  height: 475px;
  background-color: #efeae1;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
}

.knap {
  background-color: #d47b28;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-align: center;
  padding: 13.5px 111px;
  color: black;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.faq-bunden {
  display: flex;
  justify-content: right;
  align-items: end;
}/*# sourceMappingURL=style.css.map */