@use "partial";

/*Generel styling*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2{
    font-family: partial.$header-font;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    color: partial.$text-color;
    letter-spacing: 5%;
    padding-bottom: 20px;
}

h3{
    font-family: partial.$header-font;
    font-size: 40px;
    text-transform: uppercase;
    color: partial.$text-color;
    letter-spacing: 5%;   
    font-weight: 400;
    padding-bottom: 20px;
}

h4{
    font-family: partial.$font;
    font-size: 22px;
    text-transform: uppercase;
    color: partial.$text-color;
    letter-spacing: 5%;
}

p{
    font-family: partial.$font;
    font-size: 22px;
    color: partial.$text-color;
    letter-spacing: 5%;
    padding-bottom: 15px;
    line-height: 26px;
}

.fed{
    font-weight: 800;
    padding-bottom: 80px;
}

.italicfont{
    font-style: italic;
}
/***********---Fælles styling - heor-område---************/

/*BG-billeder*/
    /*BG-om os*/
        .BGomos{
            background-image: url('../img/BGomos.png');
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;
            width: 100%;
        }

    /*BG-Branding*/
        .BGbranding{
            background-image: url('../img/Brandingbaggrund.png');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            width: 100%;
        }

    /*BG-øvringe*/
        .BGandre{
            background-image: url('../img/BGtop.png');
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;
            width: 100%;
        }

/*Tekst og illustration*/
.hero-container{
    display: flex;
    width: 100%;
    padding: 8em 9em 0 9em;
  
} 

.slideind-venstre {
    animation: 3s anim-lineup ease-out running;
  }
  @keyframes anim-lineup {
    0% {
      opacity: 0;
      transform: translatex(-80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translatex(0%);
    }
    100% {
      opacity: 1;
      transform: translatex(0%);
    }
  }

  .slideind-hojre {
    animation: 3s anim-lineup2 ease-out running;
  }
  @keyframes anim-lineup2 {
    0% {
      opacity: 0;
      transform: translatex(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translatex(0%);
    }
    100% {
      opacity: 1;
      transform: translatex(0%);
    }
  }

.hero-tekst h1{
    padding-bottom: 80px;
}

.hero-img{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 200px;
}

.imgtop{
    width: 150%;
    margin: 0;
}

.hero-img img{
    max-width: 80%;
    object-fit: contain;
}

.hero-gap-til-knap{
    padding-bottom: 80px
}
 
.hero-tekst a{
    @include partial.btn;

        &:hover{
            @include partial.btn-hover;
        }
 }

/*Cheveron*/
.chevron-container{
    text-align: center;
    position: relative;
    z-index: 1;

        img{
            padding: 6em;
        }
 }

 /*Pil op (i bunden)*/
 
 .pilop{
    display: flex;
    justify-content: right;
    padding: 100px 20px 20px 0;

        img{
            width: 35px;
        }
}

 /*Knap*/
.knap-container{
    display: flex;
    justify-content: center;
    margin-top: 25px
}

 .knap{
    @include partial.btn;
    
        &:hover{
            @include partial.btn-hover;
        }
        
}


/*********-- Styling af Forsiden --*********/

/*hero-sektion*/
.headerforside{
    background-color: partial.$primary-color;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: partial.$primary-color;
}

.hero-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 80%;
    min-height: 80%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.hero-section .hero-content {
    position: relative;
    z-index: 2;
}

.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.BGforside{
    width: 100%;
    position: absolute;
}

/*Branding video*/
.brandingvideo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
        h4{
            padding-top: 100px;
            padding-bottom: 70px;
        }

        h2{
            padding-bottom: 150px;
        }
        .video-container{
            width: 80%;
            height: 500px;
            position: relative;
            overflow: hidden;
            
                iframe{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        }
}

/*Intro/informationstekst*/
.intro{
    background-image: url(../img/logo-ikon\ baggrund.png);
    background-size: 60%;
    background-position: right;
    background-repeat: no-repeat;
    margin: 100px 0 100px 100px;

        h2, h3, p{
            margin-right: 40%;
        }

        h3{
            margin-top: 40px;
        }

        p{
            margin:40px 40% 0 0;
        }

        .orange, .fed-orange{
            color: partial.$secondary-color;
        }

        .fed-orange{
            font-size: 26px;
            font-weight: 800;
        }

        li{
            color: partial.$text-color;
            font-family: partial.$font;
            margin-left: 40px;
            font-size: 22px;
        }
}

/*tekst og billede sektioner*/

.text-img-section {
    height: 650px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: partial.$primary-color;
    text-align: center;
    margin-bottom: 100px;
    padding: auto;

        h2{
            padding-top: 140px;
        }

        .vi-tilbyder{
            padding-top: 10px;
        }
}

.content-txt{
    grid-column: 1/4;
}

.content-foto{
    grid-column: 4/6;

    img{
        height: 650px;
        width: 100%;
        object-fit: cover;
    }
}

.content-txt2{
    grid-column: 3/6;
    
}

.content-foto2{
    grid-column: 1/3;

    img{
        height: 650px;
        width: 100%;
        object-fit: cover;
    }
}

.logo-foto{
    grid-column: 4/6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: partial.$bg-color;
    border: 7px solid partial.$primary-color;
}

/*Instagram karrusel*/
.karrusel-box{
    height: 688px;
    width: auto;
    background-color: partial.$primary-color;
    margin: 100px 50px 100px 50px;

    h3{
        text-align: center;
        padding: 80px;
    }
    
    .karrusel{
        overflow: hidden;
        position: relative;
        display: flex;
          
            .slider{
                width: 100%;
                padding: 0 40px 0 20px;
                margin-left: 60px;
                }
    } 
}

.slider-pil{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 0 30px;

        img{
            width: 33px;
        }
}
  

/**********--Styling af Ydelser--***********/

 /*Hovedindhold*/

 .stark-container{
    display: flex;
    align-self: center;
    margin: auto 100px;
    gap: 6em;
    width: 100%;

        article{
            padding-right: 9em;
        }
 }

.stark-img{
    max-width: 80%;
    height: auto;
}

 .overoverskrift{
    font-weight: 100;
    padding-bottom: 10px;
 }

/*Visuelle pakker*/

 .vispakker-container{
    position: relative;
    margin: 4em 0;

    .vis-et{
        background-color: partial.$primary-color;
        padding: 4em 14em;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        margin: 4em 0 4em 2em;
        z-index: 1;
     }

     .vis-to{
        border: 7px solid partial.$primary-color;
        width: 55%;
        padding: 4em 6em 0 16em;
        display: flex;
        flex-direction: column;
        position: relative;
        float: right;
        margin-right: 4em;
        margin-bottom: 4em;
     }

     h3{
        font-size: 30px;
     }
 }

 .vis-et, .vis-to{
    li{
        font-size: 30px;
    }

    h2{
        padding: 0;
    }

    h3{
        padding-bottom: 0.2em;
    }

    .p-opacity-pakker{
        opacity: 50%;
        letter-spacing: 5%;
        padding-bottom: 1.5em;
     }
    
     ul{
        padding-bottom: 6em;
     }
 }

 .vis-to{
    ul{
        padding-bottom: 10em;
    }
 }

 .kontakt-visuel-container{
    position: absolute;
    bottom: 0;
    padding-bottom: 3em;

        p{
            padding-bottom: 1.2em;
        }

        a{
            border: 1px solid black;
            padding: 0.5em 1.5em;
            border-radius: 50px;
            color: black;
            text-transform: uppercase;
            font-size: 20px;
            text-decoration: none;
            font-family: partial.$font;
            font-weight: 600;

            &:hover{
                cursor: pointer;
                font-size: 22px;
                padding: 0.7em 1.7em;
                transition: 0.3s ease-in-out;
            }
        }
 }


 /* Tekst til hjemmeside */

 .hjemmesidetekst{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 8em 3em 8em;
 }

/*Hjemmesidekasser*/

 .orangebaggrundydelser{
    background-color: partial.$secondary-color;
    width: 100%;
    height: 62.2vh;
    position: absolute;
    z-index: -2;
 }

 .hjemmesidekasse-container{
    display: flex;
    justify-content: space-around;
    gap: 1%;
    padding: 0 1%;
    position: relative;
    z-index: -1;
    margin-top: 20px;
    margin-bottom: 5em;

        section{
            background-color: partial.$primary-color;
            height: 900px;
            padding: 6%;
                }
 }

 .centrerhjemmeside{
    text-align: center;

    h2{
        padding: 0;
    }

    p{
        opacity: 50%;
        letter-spacing: 5%;
        padding-bottom: 1.5em;
     }
 }

 .linjeydelser{
    background-color: partial.$bg-color;
    display: flex;
    justify-content: center;
    height: 9px;
    border-radius: 50px;
    width: 100%;
    margin: 50px 0;
 }

 /*Seperatorlinje*/

 .seperatorbeige{
    background-color: partial.$primary-color;
    height: 7px;
    border: none;
 }

 /*Den specifikke*/

 .specifikke{
    display: flex;
    justify-content: space-around;
    padding: 4em 6em;
    width: 100%;

        article{
            padding-right: 50px;
        }
 }

 .spec-img{
    width: 100%;
    height: auto;
 }

 .specafstand{
    padding-bottom: 1.5em;
 }


/*********--Styling af Branding proces--***********/

/* Branding hovedområde */
.branding-container-venstre{
    display: grid;
    width: 75%;
    grid-template-columns: 63% 37%;
    grid-template-rows:  463px;
    border: 5px solid rgba(55, 71, 108, 0.6);
    border-radius: 0 50px 50px 0;
    border-left: none;
    margin-bottom: 145px;

        section{
            grid-area: 1 / 1 / 2 / 2;
            background-color: rgba(239, 234, 225, 0.6);
            padding-left: 6em;
            padding-right: 6em;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
}

.branding-container-hojre{
    display: grid;
    width: 75%;
    grid-template-columns: 37% 63%;
    grid-template-rows: 463px;
    justify-content: end;
    margin-left: auto;
    border: 5px solid rgba(55, 71, 108, 0.6);
    border-right: none;
    border-radius: 50px 0 0 50px;
    margin-bottom: 145px;

        section{
            grid-area: 1 / 2 / 2 / 3;
            background-color: rgba(239, 234, 225, 0.6);
            padding-left: 6em;
            padding-right: 6em;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
}

.branding-img-bokse-venstre{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-content: center;

        img{
            max-width: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1;
            border-radius: 0 45px 45px 0;
        }
}

.branding-img-bokse-hojre{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-content: center;

        img{
            max-width: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1;
            border-radius: 45px 0 0 45px;
        }
}


/*Road to succes*/

.roadtosucces{
    text-align: center;
}


 /********--Styling af Storytelling--*******/

/* Story tekst billede */

.hvad-er-storytelling{
    display: flex;
   

        article{
            padding: 0 2em 0 6em;
        }

        img{
            width: 100%;
        }
}

.hvorfor-storytelling{
    background-color: partial.$primary-color;
    padding: 4em 6em;

        li{
            font-family: partial.$font;
            font-size: 22px;
            line-height: 35px;
            letter-spacing: 1px;
            color: partial.$text-color;
        }

        a{
            @include partial.btn;
            
        }

        ul{
            padding: 1em 0 4em 0;
        }

        h4{
            padding-top: 1.5em;
            font-weight: 400;
        }
}

.case{
    background-color: partial.$primary-color;
    margin: 4em 0 0 0;
    padding: 3em 6em 0 6em;
    border: 7px solid partial.$secondary-color;
    border-bottom: none;
}

.case-wrapper{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin-bottom: 3em;

        .tekst-venstre{
            grid-column: 1/3;
            padding: 4em 2em 4em 6em;
        }

        .billede-hojre{
            grid-column: 3/4;
            width: 100%;
            height: auto;
            justify-self: end;
            align-self: center;
            padding: 3em 0 3em 2em;
        }

        .billede-venstre{
            grid-column: 1/2;
            display: grid;
            grid-column: auto;
            width: 80%;
            height: auto;
            align-self: center;
            padding: 2em 0;
        }

        .tekst-hojre{
            grid-column: 2/4;
            padding: 4em 6em 0 0em;
        }
}


.wooddesignoverskrift{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px;
}

.beigekasse{
    background-color: partial.$primary-color;
}

.beigeborder{
    border: 7px solid partial.$primary-color;
    border-right: none;
    border-left: none;
}

.grid-justering{
    padding: 4em 4em 3em 6em;
}

.illu-grid{
    justify-self: center;
}

.woodfarve{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
        img:nth-of-type(1){
            width: 60%;
            padding: 3em 0em 0em 4em;
        }

        img:nth-of-type(2){
            width: 60%;
            padding: 0em 0em 3em 4em;
         }
}

.fingertekst{
    padding: 2em 0;
    text-align: center;
}

.nysgerrigstory{
    text-align: center;
}

.case-wrapper .woodfarve{
    padding: 0 2em 0 3em;
}

.nysgerrigstory{
    padding: 3em 3em 0 3em;
}


/**********--- Styling af Om Sotry Media siden---*******/

/*Billede præsentation*/
.img-os{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 200px;

        img{
            height: 360px;
            width: 290px;
        }
}

.overlay{
    position: relative;
}

.streg-fyld{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.info-os{
    background-color: partial.$bg-color;
    margin-top: 200px;
    padding: 100px;
}

/*billede + kasse m. border*/
.iveark-os{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
}

.iveark-os-img{
    grid-column: 1/2;
    width: 100%;
    height: 850px;
    object-fit: cover;
}

.iveark-os-txt{
    grid-column: 2/4;
    width: 100%;
    height: 850px;
    border: 7px solid partial.$primary-color;
    border-left: none;
    padding:50px;
}

/*Specialisering*/
.special{
    margin-top: 100px;
    text-align: center;
}

.beige-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

    .beige-box1, .beige-box2{
        width: 50%;
        background-color: partial.$primary-color;
        padding: 50px 50px 50px 50px ;
        border: 7px solid partial.$bg-color;
    }
}

/*Start up + pynt (billede på billede)*/
.startup-omos{
    position: relative;
    padding: 150px 0 150px 0;
  }
  
  .stregen-fyld {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .startup-os-img {
    position: absolute;
    top: 60%; 
    left: 40%; 
    z-index: 2; 
  }

/*opstart*/
.omos-sektion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 300px;
}

.omos-logo-txt{
    grid-column: 1/3;
    border: 7px solid partial.$primary-color;
    padding: 50px 50px 50px 50px;

        img{
            width: 500px;
        }
}

.veardi{
    grid-column: 3/4;
    background-color: partial.$primary-color;
    padding-top: 60px;
    padding-left: 30px;
    line-height: 45px;
}


/**********---Styling af Kontakt siden---*************/
.text{
    
    p{
        font-weight: 800;
    }

    a{
        color: partial.$text-color;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        text-transform: none;
        font-weight: 500;
        padding-left: 15px;
    
            &:hover{
                border: none;
                font-weight: 800;
            }
    }
}


.kontaktform{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 100px 0 0 100px;
}

.kontaktinformation{
    width: 45%;
    padding-top: 100px;
    padding-right: 20px;
        h1{
            padding-bottom: 80px;
        }
}

/*kontaktformular*/
.kontaktformular{
    height: 875px;
    width: 630px;
    background-color: partial.$primary-color;
    border-radius: 20px 0 0 20px;
    font-family: partial.$font;
    font-size: 20px;
    text-transform: uppercase;
    color: partial.$text-color;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 80px;
}

main input[type=navn], input[type=email], input[type=tel], select, textarea {
	width: 100%;
	padding: 1em;
	border: 1px solid partial.$secondary-color;
	border-radius: 4px;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

main input[type=text], select, textarea {
	width: 100%;
	padding: 8em;
	border: 1px solid partial.$secondary-color;
	border-radius: 4px;
	margin-top: 0.5em;
	margin-bottom: 3em;
}

main input[type=submit]{
    @include partial.btn;

        &:hover{
            background-color: partial.$primary-color;
            border: 3px solid partial.$secondary-color;
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }
    margin-top: 35px;
    margin-left: 100px;
}

.bunden{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/************---Styling af FAQ siden---***************/

/* dropdown menu */
.dropdown-box{
    width: 520px;
    height: 60px;
    border-radius: 8px;
    background-color: partial.$bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 100px;

        p{
            color: black;
            font-weight: 600;
        }   
        img{
            width: 20px;
            height: 10px;
        }
}

.faq-dropdown{
    list-style-type: none;
}

.faq-dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: absolute;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    font-family: "roboto", sans-serif;
    font-size: 20px;
    color: #37476C;
    white-space: nowrap;
    cursor: pointer;
    list-style: none;
}

.faq-dropdown-menu li {
    margin-bottom: 10px;
}

.faq-dropdown-menu a{
    text-decoration: none;
    color: #37476C;
    background-color: partial.$bg-color;
    border-radius: 5px;
    box-shadow: none;
    line-height: 2em;
}

.faq-dropdown-menu a:hover{
    background-color: rgba(212, 123, 40, 0.11);
    border: none;
    border-radius: 5px;
}

.faq-dropdown:hover .faq-dropdown-menu {
    opacity: 1;
    visibility: visible;
}
 
.streg-faq{
    width: 100%;
    position: absolute;
    z-index: 1;
}

/*informations kasser*/
.faq-box1{
    position: relative;
    height: 475px;
    background-color: partial.$bg-color;
    padding-left: 100px;
    padding-top: 75px;

        p{
            padding-right: 100px;
        }
}
.faq-box2{
    height: 475px;
    background-color: partial.$primary-color;
    padding-left: 100px;
    padding-top: 75px;

        p{
            padding-right: 100px;
        }
}

.faq-bunden{
    display: flex;
    justify-content: right;
    align-items: end;
}