@use "partial";

/*Generel styling*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2{
    font-family: partial.$header-font;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    color: partial.$text-color;
    letter-spacing: 5%;
    padding-bottom: 20px;
}

h3{
    font-family: partial.$header-font;
    font-size: 40px;
    text-transform: uppercase;
    color: partial.$text-color;
    letter-spacing: 5%;   
    font-weight: 400;
}

h4{
    font-family: partial.$font;
    font-size: 22px;
    text-transform: uppercase;
    color: partial.$text-color;
    letter-spacing: 5%;
}

p{
    font-family: partial.$font;
    font-size: 22px;
    color: partial.$text-color;
    letter-spacing: 5%;
    padding-bottom: 15px;
}


/*Styling af Branding proces*/

/*Branding - hero område */

.branding-main{
    background-image: url('../img/Brandingbaggrund.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
 }

.hero-container{
    display: flex;
    width: 100%;
    padding: 200px 100px 0 100px;
} 

.hero-tekst h1{
    padding-bottom: 80px;
}

.hero-img{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 200px;
}

.hero-img img{
    max-width: 80%;
    object-fit: contain;
}

.hero-gap-til-knap{
    padding-bottom: 80px
}
 
.hero-tekst a{
    @include partial.btn;
 }

 /* Chevron */

 .chevron-container{
    text-align: center;
 }

 .chevron{
   padding: 150px;
 }

/* Branding hovedområde */

.branding-container-venstre{
    display: grid;
    width: 75%;
    grid-template-columns: 63% 37%;
    grid-template-rows:  463px;
    border: 5px solid rgba(55, 71, 108, 0.6);
    border-radius: 0 50px 50px 0;
    border-left: none;
    margin-bottom: 145px;
}

.branding-container-hojre{
    display: grid;
    width: 75%;
    grid-template-columns: 37% 63%;
    grid-template-rows: 463px;
    justify-content: end;
    margin-left: auto;
    border: 5px solid rgba(55, 71, 108, 0.6);
    border-right: none;
    border-radius: 50px 0 0 50px;
    margin-bottom: 145px;
}

.branding-tekst-bokse-venstre{
    grid-area: 1 / 1 / 2  2;
    background-color: rgba(239, 234, 225, 0.6);
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.branding-tekst-bokse-hojre{
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgba(239, 234, 225, 0.6);
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.branding-img-bokse-venstre{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-content: center;
}

.branding-img-bokse-hojre{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-content: center;
}

.branding-kasseimg-venstre{
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 0 45px 45px 0;
}

.branding-kasseimg-hojre{
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 45px 0 0 45px;
}

/*Road to succes*/

.roadtosucces{
    text-align: center;
}

/*pil op*/

.pilop{
    display: flex;
    justify-content: right;
    padding: 100px 20px 20px 0;
}

.pilopimg{
    width: 35px;
}

/*Kontaktknap*/

.knap-container{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.kontakt{
    @include partial.btn;
}



/* Styling af Ydelser */

.BGbillede-ydelser{
    background-image: url('../img/TopBG.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
 }

 /*Hovedindhold*/

 .stark-container{
    display: flex;
    margin: auto 100px;
    gap: 100px;
 }

 .overoverskrift{
    font-weight: 100;
    padding-bottom: 10px;
 }

/*Visuelle pakker*/

 .vispakker-container{
    display: flex;
    margin-top: 135px;
    margin-bottom: 200px;
    height: 921px;
 }

 .vis-et{
    background-color: partial.$primary-color;
    width: 50%;
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
    position: relative;
 }

 .vis-to{
    border: 7px solid partial.$primary-color;
    border-right: none;
    width: 50%;
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
    position: relative;
 }

 .h2vispakker{
    padding: 0;
 }

 .vis-et li, .vis-to li{
    font-size: 40px;
    padding: 5px 0;
 }

 .pvispakker{
    opacity: 50%;
    letter-spacing: 5%;
    padding-bottom: 30px;
 }

 .kontakt-visuel-container{
    position: absolute;
    bottom: 0;
    padding-bottom: 70px;
 }

 .pvispris{
    padding-bottom: 25px;
 }

 .kontaktvisuel{
    border: 1px solid black;
    padding: 7px 20px;
    border-radius: 50px;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
 }

 /* Tekst til hjemmeside */

 .hjemmesidetekst{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 200px 150px 200px;
 }

/*Hjemmesidekasser*/

 .orangebaggrundydelser{
    background-color: partial.$secondary-color;
    width: 100%;
    height: 62.2vh;
    position: absolute;
    z-index: 1;
 }

 .hjemmesidekasse-container{
    display: flex;
    justify-content: space-around;
    gap: 1%;
    padding: 0 1%;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    margin-bottom: 160px;
 }

 .hjemmesidekasse {
    background-color: partial.$primary-color;
    height: 900px;
    padding: 5%;
 }

 .linjeydelser{
    background-color: partial.$bg-color;
    display: flex;
    justify-content: center;
    height: 9px;
    border-radius: 50px;
    width: 100%;
    margin: 50px 0;
 }

 /*Seperatorlinje*/

 .seperatorbeige{
    background-color: partial.$primary-color;
    height: 7px;
    border: none;
 }

 /*Den specifikke*/

 .specifikke{
    display: flex;
    justify-content: space-around;
    padding: 80px 100px;
 }

 .specifiktekst{
    padding-right: 50px;
 }


 /*Styling af Storytelling*/

 .storytelling-main{
    background-image: url('../img/TopBG.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
 }

/* Story tekst billede */

.storytekstbillede{
    display: flex;
    width: 100%;
    margin-bottom: 70px;
}

.storytekst{
    padding: 50px 100px;
}

.beigekasse{
    background-color: partial.$primary-color;
    width: 70%;
    position: relative;
    right: 0;
}

.beigeborder{
    border: 7px solid partial.$primary-color;
    border-right: none;
    border-left: none;
}

.nysgerrigstory{
    text-align: center;
}

/*Styling af Kontakt side*/
.BGtop{
    background-image: url("../img/BGtop.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
}

.kontaktinfo{
    margin-top: 15em;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    margin-bottom: 10px;
}

.kontakter{
    grid-column: 1/2;
}

.kontaktimg{
    grid-column: 2/3;

}

.chevron{
    align-items: center;
}

.charfunktion{
    position: fixed;
}

.kontaktform{
    display: grid;
    grid-template-columns: 1fr, 1fr;
}

.kontaktinformation{
    grid-column: 1/2;
}

.kontaktformular{
    grid-column: 2/3;
}

/*kontaktformular*/
.kontaktformular{
    height: 875px;
    width: 630px;
    background-color: #EFEAE1;
    border-radius: 20px 0 0 20px;
    font-family: partial.$font;
    font-size: 20px;
    text-transform: uppercase;
    color: partial.$text-color;
    letter-spacing: 5%;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
}

main input[type=navn], input[type=email], input[type=tel], select, textarea {
	width: 100%;
	padding: 1em;
	border: 1px solid partial.$secondary-color;
	border-radius: 4px;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

main input[type=text], select, textarea {
	width: 100%;
	padding: 8em;
	border: 1px solid partial.$secondary-color;
	border-radius: 4px;
	margin-top: 0.5em;
	margin-bottom: 3em;
}

main input[type=submit]{
    @include partial.btn;

        &:hover{
            cursor: pointer;
        }
}

.pilop{
    width: 35px;
    display: flex;
    justify-self: right;
}